.posts {
    margin: 0 auto;
    padding: 0.8em;
    list-style: none;
}

.post {
    margin-top: -0.5em;
    margin-bottom: 1.5em;
}

.link {
    /* TODO: Figure out how to get this to apply without !important. */
    text-decoration: none !important;
}

.title {
    margin-bottom: 0.4em;
    transition: all 250ms;
    text-transform: initial;
}

.title:hover {
    color: hsl(183, 31%, 34%);
}

@media only screen and (min-width: 48em) {
    .title {
        padding-right: 0.2em;
        margin-right: 0.2em;
        border-right: 0.1em solid hsl(183, 31%, 34%);
    }
}

.meta {
    display: block;
    font-size: 50%;
}

@media only screen and (min-width: 48em) {
    .meta {
        display: inline;
        vertical-align: middle;
    }
}

.excerpt {
    color: hsla(197, 41%, 17%, 0.8);
}
